button{
	background-color: #ffffff;
  height: 50px;
  color: #000000;
  font-size: 30px;
  border-width: 1px;
  border-radius: 10px; 
	
}

button:hover{
	background-color: #ffdddd;
  height: 50px;
  color: #000000;
  font-size: 30px;
  border-width: 1px;
  border-radius: 10px; 
	
}

